<div [formGroup]="form">
    <tui-input
            tuiTextfieldSize="l"
            [tuiTextfieldCleaner]="true"
            class="base-control title-input"
            formControlName="title"
    >
        Заголовок новостей
        <input
                tuiTextfield
                type="text"
        />
    </tui-input>

    <div class="cards">
        <div *ngFor="let news of newsFormArray.controls; index as i" class="news-card card" [formGroup]="getAsFormGroup(news)">
            <button
                    type="button"
                    class="delete-button"
                    (click)="deleteNews(i)"
            >
                <tui-svg src="tuiIconClose"></tui-svg>
            </button>
            <div class="image-input">
                <tui-input-files
                        *ngIf="!getAsFormControl(news.get('img')).value"
                        accept="image/*"
                        formControlName="img"
                ></tui-input-files>

                <tui-files class="tui-space_top-1">
                    <tui-file
                            *ngIf="getAsFormControl(news.get('img')).value"
                            [file]="getAsFormControl(news.get('img')).value"
                            [showDelete]="getAsFormControl(news.get('img')).enabled"
                            (removed)="getAsFormControl(news.get('img')).setValue(null)"
                    ></tui-file>
                </tui-files>
            </div>

            <tui-input
                    tuiTextfieldSize="m"
                    [tuiTextfieldCleaner]="true"
                    formControlName="title"
            >
                Заголовок
                <input
                        tuiTextfield
                        type="text"
                />
            </tui-input>

            <tui-input-date-time
                    formControlName="date"
                    tuiTextfieldSize="m"
                    class="tui-space_vertical-4"
                    [tuiTextfieldLabelOutside]="true"
            >
                Дата
            </tui-input-date-time>

            <tui-editor
                    formControlName="text"
                    [tools]="tools"
                    [floatingToolbar]="true"
            >
                Описание
            </tui-editor>
            <button
                    appearance="secondary"
                    tuiButton
                    type="button"
                    size="m"
                    class="tui-space_right-3 tui-space_bottom-3 detail"
                    (click)="openModal(i, modalContent)"
            >
                Подробно
            </button>
        </div>

        <button
                type="button"
                class="news-card card add-new tui-space_right-3 tui-space_bottom-3"
                (click)="createNews()"
        >
            <tui-svg src="tuiIconPlusLarge"></tui-svg>
        </button>
    </div>
</div>

<ng-template #modalContent>
    <app-news-detail
            [form]="selectedNew!"
            [site]="site"
    ></app-news-detail>
</ng-template>
