:host {
    .cards {
        margin: -9px;
    }

    .news-card {
        height: 572px;
        width: 356px;
        margin: 9px;

        > *:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    .image-input {
        height: 168px;
    }

    tui-editor {
        height: 300px;
    }
}
