<div [formGroup]="form">
    <tui-input
            tuiTextfieldSize="l"
            [tuiTextfieldCleaner]="true"
            class="base-control title-input"
            formControlName="title"
    >
        Заголовок новостей
        <input
                tuiTextfield
                type="text"
        />
    </tui-input>

    <div class="cards">
        <div *ngFor="let news of this.site.news?.news; index as i" class="news-card" [formGroup]="getNewsFormGroup(i)">
            <div class="image-input">
                <tui-input-files
                        *ngIf="!control.value"
                        accept="image/*"
                        [formControl]="control"
                        (reject)="onReject($event)"
                ></tui-input-files>

                <tui-files class="tui-space_top-1">
                    <tui-file
                            *ngIf="loadedFiles$ | async as file"
                            [file]="file"
                            [showDelete]="control.enabled"
                            (removed)="removeFile()"
                    ></tui-file>

                    <tui-file
                            *ngIf="rejectedFiles$ | async as file"
                            state="error"
                            [file]="file"
                            [showDelete]="control.enabled"
                            (removed)="clearRejected()"
                    ></tui-file>

                    <tui-file
                            *ngIf="loadingFiles$ | async as file"
                            state="loading"
                            [file]="file"
                            [showDelete]="control.enabled"
                    ></tui-file>
                </tui-files>
            </div>

            <tui-input
                    tuiTextfieldSize="m"
                    [tuiTextfieldCleaner]="true"
                    formControlName="title"
            >
                Заголовок
                <input
                        tuiTextfield
                        type="text"
                />
            </tui-input>

            <tui-editor
                    formControlName="text"
                    [tools]="tools"
                    [floatingToolbar]="true"
            >
                Описание
            </tui-editor>
        </div>

        <button
                appearance="flat"
                tuiButton
                type="button"
                class="news-card add-new tui-space_right-3 tui-space_bottom-3"
        >
            <tui-svg src="tuiIconPlusLarge"></tui-svg>
        </button>
    </div>
</div>
