:host {
    .cards {
        margin: -10px 0;
    }

    .address-card {
        margin: 10px 0;
        width: 100%;

        .row {
            display: flex;

            &:last-child {
                margin-top: 20px;
            }
        }

        tui-input {
            &.description {
                width: 350px;
                margin-right: 20px;
            }

            &.address {
                width: 100%;
            }

            &.coords {
                width: 50%;
            }

            &.alt {
                margin-right: 20px;
            }
        }
    }

    .add-new {
        height: 84px;
        width: 100%;
        margin: 10px 0;
    }
}

@media (max-width: 630px) {
    :host {
        .address-card {
            .row {
                flex-direction: column;
                flex-wrap: nowrap;

                > * {
                    width: 100%;

                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }
                }
            }
        }

        .add-new {
            height: 50px;
        }
    }
}
