$min-width: 1154px;

:host {
    min-width: $min-width;

    app-theme-settings {
        min-width: $min-width;
        box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12);
    }

    .settings-body {
        width: $min-width;
        margin: 0 auto;
        padding: 38px 25px 52px;

        > * {
            display: block;
            margin-bottom: 72px;
        }
    }
}
