:host {
    width: 1104px;

    app-theme-settings {
        width: inherit;
        box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12);
    }

    .settings-body {
        width: inherit;
        margin: 0 auto;
        padding: 38px 20px 52px;
    }
}
