$min-width: 880px; // включаем резину на мобилку
$max-width: 1154px;

:host {
    app-theme-settings {
        box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12);
        position: sticky;
        z-index: 10;
        top: 0;
        left: 0;
    }

    .settings-body {
        max-width: $max-width;
        margin: 0 auto;
        padding: 34px 25px 52px;

        > * {
            display: block;

            &:first-child {
                display: block;
                margin-bottom: 34px;
            }

            &:not(:first-child) {
                margin-bottom: 72px;
            }
        }
    }
}

@media (max-width: 630px) {
    :host {
        .settings-body {
            padding: 34px 15px 52px;
        }
    }
}
