<nav>
    <div>
        <!--            Место для навигации-->
    </div>
    <div class="profile">
        <!--            <tui-svg src="tuiIconUserLarge"></tui-svg>-->
        <button
                type="button"
                [tuiDropdown]="dropdownContent"
                [tuiDropdownManual]="open"
                (click)="onClick()"
                (tuiActiveZoneChange)="onActiveZone($event)"
                (tuiObscured)="onObscured($event)"
        >
            <tui-svg src="tuiIconUserLarge"></tui-svg>
            <tui-svg src="tuiIconChevronDown"></tui-svg>
        </button>
    </div>
</nav>
<app-theme-settings [site]="site" (building$)="onBuild()"></app-theme-settings>
<div class="settings-body">
    <app-nav-settings [site]="site"></app-nav-settings>
    <app-main-settings [site]="site"></app-main-settings>
    <app-news-settings [site]="site"></app-news-settings>
    <app-addresses-settings [site]="site"></app-addresses-settings>
    <app-instructors-settings [site]="site"></app-instructors-settings>
    <app-services-settings [site]="site"></app-services-settings>
</div>

<ng-template #dropdownContent>
    <div class="dropdown" (click)="onLogOut()">
        <button
                appearance="flat"
                tuiButton
                type="button"
                size="m"
                class="tui-space_right-3 tui-space_bottom-3"
                [disabled]="loading"
        >
            Выйти
        </button>
    </div>
</ng-template>


<div *ngIf="openInfo" class="info">
    <div class="content">
        <ng-container [ngSwitch]="loading">
            <div *ngSwitchCase="true" class="loading-container">
                <p>Ваш сайт создаётся...</p>
                <tui-loader class="inline-flex loader"></tui-loader>
            </div>
            <div *ngSwitchCase="false">
                <ng-container [ngSwitch]="isSuccess">
                    <p *ngSwitchCase="true">Ваш сайт успешно создан!</p>
                    <span *ngSwitchCase="false">Произошла ошибка, обратитесь к поддержке</span>
                </ng-container>
            </div>
        </ng-container>
    </div>
    <button
            *ngIf="!loading"
            type="button"
            class="delete-button"
            (click)="openInfo = false"
    >
        <tui-svg src="tuiIconClose"></tui-svg>
    </button>
</div>
