<tui-root>
    <nav>
        <div>
<!--            Место для навигации-->
        </div>
        <div class="profile">
<!--            <tui-svg src="tuiIconUserLarge"></tui-svg>-->
            <button
                    type="button"
                    [tuiDropdown]="dropdownContent"
                    [tuiDropdownManual]="open"
                    (click)="onClick()"
                    (tuiActiveZoneChange)="onActiveZone($event)"
                    (tuiObscured)="onObscured($event)"
            >
                <tui-svg src="tuiIconUserLarge"></tui-svg>
                <tui-svg src="tuiIconChevronDown"></tui-svg>
            </button>
        </div>
    </nav>
    <router-outlet></router-outlet>
</tui-root>

<ng-template #dropdownContent>
    <div class="dropdown">
        <button>
            Выйти
        </button>
    </div>
</ng-template>
