<form [formGroup]="form">
    <tui-input
            tuiTextfieldSize="l"
            [tuiTextfieldCleaner]="true"
            formControlName="title"
    >
        Заголовок
        <input
                tuiTextfield
                type="text"
        />
    </tui-input>

    <tui-input-date-time
            formControlName="date"
            tuiTextfieldSize="m"
            class="tui-space_vertical-4"
            [tuiTextfieldLabelOutside]="true"
    >
        Дата
    </tui-input-date-time>

    <tui-input
            tuiTextfieldSize="m"
            [tuiTextfieldCleaner]="true"
            formControlName="address"
    >
        Адрес
        <input
                tuiTextfield
                type="text"
        />
    </tui-input>

    <div class="with-tooltip">
        <tui-tooltip
                content="Оставьте пустым или 0, если мероприятие бесплатное"
                direction="right"
        ></tui-tooltip>
        <tui-input-number
                formControlName="price"
                tuiTextfieldPostfix="₽"
                tuiTextfieldSize="m"
                [tuiTextfieldCleaner]="true"
        >
            Цена
            <input
                    tuiTextfield
            />
        </tui-input-number>
    </div>

    <div class="flex-settings">
        <tui-input-number
                formControlName="maxPlaceCount"
                tuiTextfieldSize="m"
                [tuiTextfieldCleaner]="true"
        >
            Количество мест
            <input
                    tuiTextfield
            />
        </tui-input-number>

        <tui-input-number
                formControlName="busyPlaceCount"
                tuiTextfieldSize="m"
                [tuiTextfieldCleaner]="true"
        >
            Занято мест
            <input
                    tuiTextfield
            />
        </tui-input-number>
    </div>

    <tui-input-phone
            tuiTextfieldSize="m"
            formControlName="phone"
    >
        Телефонный номер для записи
        <input
                autocomplete="tel"
                name="tel"
                tuiTextfield
        />
    </tui-input-phone>

    <tui-editor
            formControlName="text"
            [tools]="tools"
    >
        Описание
    </tui-editor>
</form>
