<div class="variables">
    <tui-select
            tuiTextfieldSize="m"
            class="tui-space_vertical-4 m-size"
            [valueContent]="themeContent"
            [(ngModel)]="curTheme"
            (ngModelChange)="changeTheme($event)"
    >
        Тема
        <tui-data-list-wrapper
                *tuiDataList
                [items]="themes"
                [itemContent]="themeContent"
        ></tui-data-list-wrapper>
    </tui-select>

    <ng-container [formGroup]="form">
        <tui-input-color
                tuiTextfieldSize="m"
                class="tui-space_vertical-4 m-size"
                [colors]="palette"
                formControlName="backgroundColor"
        >
            Цвет бэкгроунда
        </tui-input-color>

        <tui-input-color
                tuiTextfieldSize="m"
                class="tui-space_vertical-4 m-size"
                [colors]="palette"
                formControlName="fontColor"
        >
            Цвет шрифта
        </tui-input-color>

        <tui-input-color
                tuiTextfieldSize="m"
                class="tui-space_vertical-4 m-size"
                [colors]="palette"
                formControlName="accentColor"
        >
            Акцентный цвет
        </tui-input-color>
    </ng-container>
</div>

<button
        appearance="primary"
        tuiButton
        type="button"
        size="m"
        class="tui-space_right-3 tui-space_bottom-3"
>
    Build
</button>

<ng-template #themeContent let-item>
    <div class="card-item">
        <span class="card-name">{{ item.name }}</span>
    </div>
</ng-template>
