:host {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px;

    .variables {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        & > * {
            padding: 5px 0;
        }

        .colors {
            display: flex;
        }

        tui-select {
            margin-right: 40px;
        }

        tui-input-color {
            margin-right: 20px;
        }
    }

    .button-container {
        padding: 5px 0;
    }
}
