:host {
    .image-file {
        margin-bottom: 72px;
        height: 336px;
    }
}

@media (max-width: 630px) {
    :host {
        .image-file {
            height: 150px;
        }

        tui-editor {
            height: 420px;
        }
    }
}
