:host {
    .cards {
        margin: -10px;
    }

    .instructor-card {
        width: 542px;
        height: 281px;
        margin: 10px;
    }

    .card-content {
        display: flex;
        height: 100%;
    }

    .image-input {
        height: 100%;
        width: 241px;

        > * {
            height: 100%;
        }
    }

    .text-inputs {
        width: 241px;
        margin-left: 20px;

        > * {
            margin-bottom: 20px;
        }

        tui-editor {
            height: 113px;
            min-height: 113px;
        }
    }
}

@media (max-width: 630px) {
    :host {
        .image-input {
            width: 130px;
        }

        .instructor-card {
            width: calc(100% - 20px);
        }

        .text-inputs {
            width: 100%;

            > * {
                margin-bottom: 10px;
                width: 100%;
            }

            tui-editor {
                height: 133px;
                min-height: 133px;
            }
        }

        .add-new {
            height: 50px;
        }
    }
}
