:host {
    .cards {
        margin: -10px;
    }

    .instructor-card {
        width: 542px;
        height: 281px;
        margin: 10px;
    }

    .card-content {
        display: flex;
        height: 100%;
    }

    .image-input {
        height: 100%;
        width: 241px;
    }

    .text-inputs {
        width: 241px;
        margin-left: 20px;

        > * {
            margin-bottom: 20px;
        }

        tui-editor {
            height: 113px;
            min-height: 113px;
        }
    }
}
